#logo  {
  width: 40px;
  height: 40px;
  padding: 10px 0;

  float: left;
}

.NavBar {
  float: right;
}

header:after {
  /*this is used to give the header its size back after the the logo and ul float*/
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #fed39f ;
}

.nav {
  width: 90%;
  margin: 0 auto ;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-left: 60px;
  /*margin: 0 30px;*/
  padding: 0;
  list-style: none;
  padding-top: 20px;
}
.nav a {
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Gotu', sans-serif; 
  font-size: 1em;
  /*font-style: 16em;*/
}

.NavBar a:hover {
  color: #000;
}

.NavBar a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}


.NavBar a:hover::before {
  width: 100%;
}

/*=======================================*/

body{
  /*padding: 0;*/
  margin: 0;
  text-align: center;
  font-family: 'Gotu', sans-serif;
  background-color: #fce38a;
}

hr {
  width: 10%;
  border-style: dotted none none none;
  border-width: 5px;  
  border-color: #706c61 ;
}

h1{
  font-family: 'Great Vibes', cursive;
  font-size: 4.5rem;
}

h2{
  font-family: 'Roboto', sans-serif;;
  font-size: 3.5rem;
}



p{
  line-height: 2;
  margin: 0;
}



.top_div{
  position: relative;
  background-color:#fed39f ;
  padding: 70px 0 0 0 ;
  margin: 0;
  
}

.contact_div{
  background-color: #f6eec9;
  margin: 0;
  padding: 30px;
}

.skils{
  /*background-color: pink; */
  width: 50%;
  margin: 0 auto;  
  padding: 100px;
}
.skills_row{
  margin: 100px auto 100px auto;
  /*text-align: left;*/
  /*background-color: navajowhite; */
}
.skills_heading{
  position: relative;
   /*margin: 0 auto 0 auto; */
  
}

.skills_images_left{
  width: 25%;
  float: left;
  /*margin-right: 50px;*/
}

.skills_images_right{
  width: 25%;
  float: right;
  /*margin-left: 50px;*/
}

.center_image{
  position: relative;
  /* width: 400px; */
  /* height: 400px; */
  /* opacity: 30%; */
  /* top: 80px; */
  bottom: 30px;
  /* left: 300px; */
  margin: 0 auto -113px auto;
}

.sun{
  display: block;
  position: absolute;
  width: 100px;
  right: 200px;
  top: 30px;
  /* transform: rotate(0.75turn); */
  opacity: 60%;
}

.cactus_left{
  position: absolute;
  width: 7%;
  left: 0;
  top: 200px;
  transform: rotate(0.25turn);
}

.cactus_right{
  position: absolute;
  width: 5%;
  right: 0;
  bottom: 130px;
  transform: rotate(0.75turn);
}

.myButton {
	background:linear-gradient(to bottom, #fe8861 5%, #af470f 100%);
	background-color:#fe8861;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:19px 39px;
  text-decoration:none;
  margin: 60px auto 40px auto;

}
.myButton:hover {
	background:linear-gradient(to bottom, #af470f 5%, #fe8861 100%);
	background-color:#af470f;
}
.myButton:active {
	position:relative;
	top:1px;
}


.contact_links{
  margin: 0 20px ;
  text-decoration: none;
  color: #BB5800;
}
        

/* ID ************************* */

#PersonalPic{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin: 0px auto;
}
